<footer _ngcontent-lnc-c29="" class="pb-70">
  <div _ngcontent-lnc-c29="" class="newsletter-area">
    <div _ngcontent-lnc-c29="" class="container">
      <div _ngcontent-lnc-c29="" class="row newsletter-wrap align-items-center">
        <div _ngcontent-lnc-c29="" class="col-lg-6">
          <div _ngcontent-lnc-c29="" class="newsletter-item">
            <h2 _ngcontent-lnc-c29="">Join Our Newsletter</h2>
            <p _ngcontent-lnc-c29="">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod.
            </p>
          </div>
        </div>
        <div _ngcontent-lnc-c29="" class="col-lg-6">
          <div _ngcontent-lnc-c29="" class="newsletter-item">
            <div _ngcontent-lnc-c29="" class="newsletter-form">
              <form _ngcontent-lnc-c29="" class="newsletter-form">
                <input
                  _ngcontent-lnc-c29=""
                  type="email"
                  placeholder="Enter Your Email"
                  name="EMAIL"
                  class="form-control"
                /><button
                  _ngcontent-lnc-c29=""
                  type="submit"
                  class="btn newsletter-btn"
                >
                  Subscribe
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div _ngcontent-lnc-c29="" class="container">
    <div _ngcontent-lnc-c29="" class="row">
      <div _ngcontent-lnc-c29="" class="col-sm-6 col-lg-4">
        <div _ngcontent-lnc-c29="" class="footer-item">
          <div _ngcontent-lnc-c29="" class="footer-contact">
            <h3 _ngcontent-lnc-c29="">Contact Us</h3>
            <ul _ngcontent-lnc-c29="">
              <li _ngcontent-lnc-c29="">
                <i _ngcontent-lnc-c29="" class="icofont-ui-message"></i
                ><a _ngcontent-lnc-c29="" href="mailto:info@opvix.com"
                  >info@opvix.com</a
                ><a _ngcontent-lnc-c29="" href="mailto:hello@opvix.com"
                  >hello@opvix.com</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <i _ngcontent-lnc-c29="" class="icofont-stock-mobile"></i
                ><a _ngcontent-lnc-c29="" href="tel:+07554332322"
                  >Call: +07 554 332 322</a
                ><a _ngcontent-lnc-c29="" href="tel:+236256256365"
                  >Call: +236 256 256 365</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <i _ngcontent-lnc-c29="" class="icofont-location-pin"></i>
                210-27 Quadra, Market Street, Victoria Canada
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div _ngcontent-lnc-c29="" class="col-sm-6 col-lg-2">
        <div _ngcontent-lnc-c29="" class="footer-item">
          <div _ngcontent-lnc-c29="" class="footer-quick">
            <h3 _ngcontent-lnc-c29="">Quick Links</h3>
            <ul _ngcontent-lnc-c29="">
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/about" href="/about"
                  >About us</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/blog" href="/blog"
                  >Blog</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <a
                  _ngcontent-lnc-c29=""
                  routerlink="/blog-details"
                  href="/blog-details"
                  >Our Expertise</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/faq" href="/faq">Faq</a>
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/doctor" href="/doctor"
                  >Doctors</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/contact" href="/contact"
                  >Contact us</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div _ngcontent-lnc-c29="" class="col-sm-6 col-lg-3">
        <div _ngcontent-lnc-c29="" class="footer-item">
          <div _ngcontent-lnc-c29="" class="footer-quick">
            <h3 _ngcontent-lnc-c29="">Our Services</h3>
            <ul _ngcontent-lnc-c29="">
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/" href="/">Dental Care</a>
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/" href="/">Cardiology</a>
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/" href="/"
                  >Hijama Therapy</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/" href="/"
                  >Massage Therapy</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/" href="/"
                  >Ambluance Sevices</a
                >
              </li>
              <li _ngcontent-lnc-c29="">
                <a _ngcontent-lnc-c29="" routerlink="/" href="/">Medicine</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div _ngcontent-lnc-c29="" class="col-sm-6 col-lg-3">
        <div _ngcontent-lnc-c29="" class="footer-item">
          <div _ngcontent-lnc-c29="" class="footer-feedback">
            <h3 _ngcontent-lnc-c29="">Feedback</h3>
            <form _ngcontent-lnc-c29="">
              <div _ngcontent-lnc-c29="" class="form-group">
                <input
                  _ngcontent-lnc-c29=""
                  type="text"
                  placeholder="Name"
                  class="form-control"
                />
              </div>
              <div _ngcontent-lnc-c29="" class="form-group">
                <input
                  _ngcontent-lnc-c29=""
                  type="text"
                  placeholder="Phone"
                  class="form-control"
                />
              </div>
              <div _ngcontent-lnc-c29="" class="form-group">
                <textarea
                  _ngcontent-lnc-c29=""
                  id="your_message"
                  rows="5"
                  placeholder="Message"
                  class="form-control"
                ></textarea>
              </div>
              <div _ngcontent-lnc-c29="" class="text-left">
                <button
                  _ngcontent-lnc-c29=""
                  type="submit"
                  class="btn feedback-btn"
                >
                  SUBMIT
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div _ngcontent-lnc-c29="" class="copyright-area">
  <div _ngcontent-lnc-c29="" class="container">
    <div _ngcontent-lnc-c29="" class="copyright-item">
      <p _ngcontent-lnc-c29="">
        Copyright ©2020 Design &amp; Developed by
        <a _ngcontent-lnc-c29="" href="https://hibootstrap.com/" target="_blank"
          >HiBootstrap</a
        >
      </p>
    </div>
  </div>
</div>
