<div _ngcontent-lnc-c28="" class="header-top">
  <div _ngcontent-lnc-c28="" class="container">
    <div _ngcontent-lnc-c28="" class="row align-items-center">
      <div _ngcontent-lnc-c28="" class="col-sm-9 col-lg-9">
        <div _ngcontent-lnc-c28="" class="header-top-item">
          <div _ngcontent-lnc-c28="" class="header-top-left">
            <ul _ngcontent-lnc-c28="">
              <li _ngcontent-lnc-c28="">
                <a _ngcontent-lnc-c28="" href="tel:+07554332322"
                  ><i _ngcontent-lnc-c28="" class="icofont-ui-call"></i> Call :
                  +07 554 332 322</a
                >
              </li>
              <li _ngcontent-lnc-c28="">
                <a _ngcontent-lnc-c28="" href="mailto:hello@opvix.com"
                  ><i _ngcontent-lnc-c28="" class="icofont-ui-message"></i>
                  hello@opvix.com</a
                >
              </li>
              <li _ngcontent-lnc-c28="">
                <i _ngcontent-lnc-c28="" class="icofont-location-pin"></i>
                210-27 Quadra, Canada
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div _ngcontent-lnc-c28="" class="col-sm-3 col-lg-3">
        <div _ngcontent-lnc-c28="" class="header-top-item">
          <div _ngcontent-lnc-c28="" class="header-top-right">
            <ul _ngcontent-lnc-c28="">
              <li _ngcontent-lnc-c28="">
                <a _ngcontent-lnc-c28="" href="#" target="_blank"
                  ><i _ngcontent-lnc-c28="" class="icofont-facebook"></i
                ></a>
              </li>
              <li _ngcontent-lnc-c28="">
                <a _ngcontent-lnc-c28="" href="#" target="_blank"
                  ><i _ngcontent-lnc-c28="" class="icofont-twitter"></i
                ></a>
              </li>
              <li _ngcontent-lnc-c28="">
                <a _ngcontent-lnc-c28="" href="#" target="_blank"
                  ><i _ngcontent-lnc-c28="" class="icofont-pinterest"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div _ngcontent-lnc-c28="" class="navbar-area sticky-top">
  <div _ngcontent-lnc-c28="" class="mobile-nav">
    <a _ngcontent-lnc-c28="" routerlink="/" class="logo" href="/"
      ><img _ngcontent-lnc-c28="" src="assets/img/logo-two.png" alt="Logo"
    /></a>
  </div>
  <div _ngcontent-lnc-c28="" class="main-nav">
    <div _ngcontent-lnc-c28="" class="container">
      <nav _ngcontent-lnc-c28="" class="navbar navbar-expand-md navbar-light">
        <a _ngcontent-lnc-c28="" routerlink="/" class="navbar-brand" href="/"
          ><img _ngcontent-lnc-c28="" src="assets/img/logo.png" alt="Logo"
        /></a>
        <div
          _ngcontent-lnc-c28=""
          id="navbarSupportedContent"
          class="collapse navbar-collapse mean-menu"
          style="display: block"
        >
          <ul _ngcontent-lnc-c28="" class="navbar-nav">
            <li _ngcontent-lnc-c28="" class="nav-item">
              <a
                _ngcontent-lnc-c28=""
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                >Home</a
              >
              <ul _ngcontent-lnc-c28="" class="dropdown-menu">
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/"
                    routerlinkactive="active"
                    class="nav-link active"
                    href="/"
                    >Home Page 1</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/home-two"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/home-two"
                    >Home Page 2</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/home-three"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/home-three"
                    >Home Page 3</a
                  >
                </li>
              </ul>
            </li>
            <li _ngcontent-lnc-c28="" class="nav-item">
              <a
                _ngcontent-lnc-c28=""
                routerlink="/about"
                routerlinkactive="active"
                class="nav-link"
                href="/about"
                >About</a
              >
            </li>
            <li _ngcontent-lnc-c28="" class="nav-item">
              <a
                _ngcontent-lnc-c28=""
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                >Pages</a
              >
              <ul _ngcontent-lnc-c28="" class="dropdown-menu">
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/appointment"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/appointment"
                    >Appointment</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/departments"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/departments"
                    >Departments</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/testimonials"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/testimonials"
                    >Testimonials</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/login"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/login"
                    >Login</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/signup"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/signup"
                    >Sign Up</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/privacy-policy"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/privacy-policy"
                    >Privacy Policy</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/terms-condition"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/terms-condition"
                    >Terms &amp; Conditions</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/faq"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/faq"
                    >FAQ</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/error"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/error"
                    >404 Error</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/coming-soon"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/coming-soon"
                    >Coming Soon</a
                  >
                </li>
              </ul>
            </li>
            <li _ngcontent-lnc-c28="" class="nav-item">
              <a
                _ngcontent-lnc-c28=""
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                >Services</a
              >
              <ul _ngcontent-lnc-c28="" class="dropdown-menu">
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/services"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/services"
                    >Services</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/services-details"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/services-details"
                    >Services Details</a
                  >
                </li>
              </ul>
            </li>
            <li _ngcontent-lnc-c28="" class="nav-item">
              <a
                _ngcontent-lnc-c28=""
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                >Doctor</a
              >
              <ul _ngcontent-lnc-c28="" class="dropdown-menu">
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/doctor"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/doctor"
                    >Doctor</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/doctor-details"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/doctor-details"
                    >Doctor Details</a
                  >
                </li>
              </ul>
            </li>
            <li _ngcontent-lnc-c28="" class="nav-item">
              <a
                _ngcontent-lnc-c28=""
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                >Blog</a
              >
              <ul _ngcontent-lnc-c28="" class="dropdown-menu">
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/blog"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/blog"
                    >Blog</a
                  >
                </li>
                <li _ngcontent-lnc-c28="" class="nav-item">
                  <a
                    _ngcontent-lnc-c28=""
                    routerlink="/blog-details"
                    routerlinkactive="active"
                    class="nav-link"
                    href="/blog-details"
                    >Blog Details</a
                  >
                </li>
              </ul>
            </li>
            <li _ngcontent-lnc-c28="" class="nav-item">
              <a
                _ngcontent-lnc-c28=""
                routerlink="/contact"
                routerlinkactive="active"
                class="nav-link"
                href="/contact"
                >Contact</a
              >
            </li>
          </ul>
          <div _ngcontent-lnc-c28="" class="nav-srh">
            <div _ngcontent-lnc-c28="" class="search-toggle closed">
              <button _ngcontent-lnc-c28="" class="search-icon icon-search">
                <i _ngcontent-lnc-c28="" class="icofont-search-1"></i></button
              ><button _ngcontent-lnc-c28="" class="search-icon icon-close">
                <i _ngcontent-lnc-c28="" class="icofont-close"></i>
              </button>
            </div>
            <div _ngcontent-lnc-c28="" class="search-area">
              <form _ngcontent-lnc-c28="">
                <input
                  _ngcontent-lnc-c28=""
                  type="text"
                  id="search-terms"
                  placeholder="Search here..."
                  class="src-input"
                /><button
                  _ngcontent-lnc-c28=""
                  type="submit"
                  name="submit"
                  value="Go"
                  class="search-icon"
                >
                  <i _ngcontent-lnc-c28="" class="icofont-search-1"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
