
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Poppins"
}

footer,
main,
nav,
section {
  display: block;
}

h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
}

ul ul {
  margin-bottom: 0;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button,
input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
[type="button"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  overflow: auto;
  resize: vertical;
}
.form-control {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  height: calc(1.5em + 0.75rem + 2px);
  line-height: 1.5;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}
.form-control:focus {
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: #495057;
  outline: 0;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
textarea.form-control {
  height: auto;
}

.h2,
.h3,
h2,
h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h2,
h2 {
  font-size: 2rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-9,
.col-sm-3,
.col-sm-6,
.col-sm-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.form-group {
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.collapse:not(.show) {
  display: none;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}


.d-none {
  display: none !important;
}
.align-items-center {
  align-items: center !important;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.text-left {
  text-align: left !important;
}



@font-face {
  font-family: IcoFont;
  font-weight: 400;
  font-style: Regular;
  /* src: url(icofont.9c33516aab48c61e3081.woff2) format("woff2"),
    url(icofont.dad3accba068281878f1.woff) format("woff"); */
  src: url("./assets/fonts/icofont.woff2") format("woff2"),
  url("./assets/fonts/icofont.woff") format("woff");
}

[class^="icofont-"] {
  font-family: IcoFont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.icofont-stock-mobile:before {
  content: "\e977";
}
.icofont-ui-call:before {
  content: "\ec46";
}
.icofont-ui-message:before {
  content: "\ec67";
}
.icofont-search-1:before {
  content: "\ed11";
}
.icofont-facebook:before {
  content: "\ed37";
}
.icofont-pinterest:before {
  content: "\ed5d";
}
.icofont-twitter:before {
  content: "\ed7a";
}
.icofont-close:before {
  content: "\eee4";
}
.icofont-location-pin:before {
  content: "\ef79";
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a.meanmenu-reveal {
  display: none;
}
.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: absolute;
  background: transparent;
  padding: 20px 0 0;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  height: 70px;
}
.mean-container a.meanmenu-reveal {
  width: 35px;
  height: 30px;
  padding: 24px 15px 0 0;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #fff;
  height: 4px;
  margin-top: -5px;
  border-radius: 3px;
  position: relative;
  top: 8px;
}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: #fff;
  margin-top: 70px;
}
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  list-style-type: none;
}
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}
.mean-container .mean-nav ul li a {
  display: block;
  float: left;
  width: 90%;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #677294;
  border-top: 1px solid #dbeefd;
  text-decoration: none;
}
.mean-container .mean-nav ul li a.active {
  color: #000;
}
.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 1em 10%;
  color: #677294;
  border-top: 1px solid #dbeefd;
  opacity: 1;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible;
  text-transform: none;
  font-size: 14px;
}
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%;
}
.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}
.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}
.mean-container .mean-nav ul li a:hover {
  background: #252525;
  background: hsla(0, 0%, 100%, 0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 3px;
  width: 100%;
  height: 24px;
  padding: 12px !important;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  background: transparent;
  border: none !important;
}
.mean-container .mean-bar,
.mean-container .mean-bar * {
  box-sizing: content-box;
}
.mobile-nav {
  display: none;
}
.mobile-nav.mean-container .mean-nav ul li a.active {
  color: #ff2d55;
}
.main-nav {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  z-index: 999;
  height: auto;
}
.btn {
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #212529;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.form-control::-moz-placeholder,
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.mean-nav .dropdown-toggle:after {
  display: none;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.main-nav nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.main-nav nav .navbar-nav .nav-item {
  position: relative;
  padding: 15px 0;
}
.main-nav nav .navbar-nav .nav-item a {
  text-transform: uppercase;
  color: #fff;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}
.main-nav nav .navbar-nav .nav-item:hover a,
.main-nav nav .navbar-nav .nav-item a.active,
.main-nav nav .navbar-nav .nav-item a:focus,
.main-nav nav .navbar-nav .nav-item a:hover {
  color: #ff2d55;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  background: #0d1028;
  position: absolute;
  top: 80px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  padding: 20px 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li {
  position: relative;
  padding: 0;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a {
  font-weight: 500;
  text-transform: capitalize;
  padding: 9px 15px;
  margin: 0;
  display: block;
  color: #fff;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a.active,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:focus,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a:hover {
  color: #ff2d55;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  position: absolute;
  left: -100%;
  top: 0;
  opacity: 0 !important;
  visibility: hidden !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
  top: -20px !important;
}
.main-nav
  nav
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  position: absolute;
  left: -100%;
  top: 0;
  opacity: 0 !important;
  visibility: hidden !important;
}
.main-nav
  nav
  .navbar-nav
  .nav-item
  .dropdown-menu
  li:hover
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
  top: -20px !important;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #fff;
  text-transform: capitalize;
}
.main-nav
  nav
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover,
.main-nav nav .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #ff2d55;
}
.main-nav nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.main-nav nav .navbar-nav .nav-item:last-child .dropdown-menu {
  left: auto;
  right: 0;
}

h2,
h3 {
  color: #232323;
}
p {
  line-height: 1.7;
}
a {
  transition: all 0.5s ease;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.pb-70 {
  padding-bottom: 70px;
}
button:focus {
  outline: 0;
}

.btn:focus {
  box-shadow: none;
}
.header-top {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fff;
  z-index: 1;
}
.header-top-item .header-top-left ul {
  margin: 0;
  padding: 0;
}
.header-top-item .header-top-left ul li {
  display: inline-block;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  color: #4a6f8a;
  margin-right: 25px;
}
.header-top-item .header-top-left ul li:last-child {
  margin-right: 0;
}
.header-top-item .header-top-left ul li a {
  display: inline-block;
  color: #4a6f8a;
}
.header-top-item .header-top-left ul li a:hover {
  color: #0046c0;
}
.header-top-item .header-top-left ul li a i {
  color: #0046c0;
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.header-top-item .header-top-right {
  text-align: right;
}
.header-top-item .header-top-right ul {
  margin: 0;
  padding: 0;
}
.header-top-item .header-top-right ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
}
.header-top-item .header-top-right ul li:last-child {
  margin-right: 0;
}
.header-top-item .header-top-right ul li a {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border: 1px solid transparent;
  background-color: #0046c0;
}
.header-top-item .header-top-right ul li a:hover {
  color: #0046c0;
  background-color: transparent;
  border: 1px solid #0046c0;
}

.nav-srh {
  position: relative;
}
.nav-srh .search-area {
  position: absolute;
  right: 8px;
  bottom: -105px;
  z-index: 5;
  transition: all 0.5s ease;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
.nav-srh .search-area .search-icon {
  vertical-align: middle;
  position: absolute;
  right: 30px;
  top: 22px;
  background-color: transparent;
  font-size: 20px;
  color: #0046c0;
  transition: all 0.5s ease;
}
.nav-srh .search-area .search-icon:hover {
  color: #111;
}
.nav-srh .search-area .src-input {
  outline: none;
  padding-left: 20px;
  margin: 0;
  width: 300px;
  background-color: hsla(0, 0%, 86.7%, 0.5019607843137255);
  border: 1px solid #ddd;
  font-size: 15px;
  height: 45px;
  border-radius: 0;
}
/* .slider-item-img {
  background-image: url(home-bg1.00281ddb519baf5533f5.jpg);
} */
.newsletter-wrap {
  padding: 45px 50px;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 86.7%, 0.6705882352941176);
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: -110px;
  left: 0;
  right: 0;
  max-width: 1105px;
  margin-left: auto;
  margin-right: auto;
}


.copyright-area {
  background-color: #001230;
}
.copyright-area .copyright-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright-area .copyright-item p {
  margin-bottom: 0;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.copyright-area .copyright-item p a {
  display: inline-block;
  color: #fff;
}
.copyright-area .copyright-item p a:hover {
  color: #0046c0;
}

.main {
  max-width: 770px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
}
.main:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 330px;
  top: 65px;
  left: 0;
  right: 0;
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  p {
    line-height: 1.7;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .header-top {
    padding-top: 15px;
    border-bottom: 1px solid #f2f2f2;
    text-align: center;
  }
  .header-top-item .header-top-left ul li {
    font-size: 13px;
    margin-right: 0;
    margin-bottom: 8px;
    display: block;
  }
  .header-top-item .header-top-left ul li i {
    font-size: 16px;
  }
  .header-top-item .header-top-right {
    text-align: center;
  }
  .mobile-nav .logo {
    top: 10px !important;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #0046c0;
  }
  .nav-srh {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pb-70 {
    padding-bottom: 40px;
  }
  .header-top-item .header-top-left ul li {
    font-size: 14px;
    margin-right: 18px;
    margin-bottom: 5px;
  }
  .header-top-item .header-top-left ul li i {
    font-size: 16px;
    margin-right: 0;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #0046c0;
  }
  .search-icon {
    display: none;
  }
  .newsletter-wrap {
    padding: 30px 25px;
    max-width: 680px;
  }
  .newsletter-item h2 {
    font-size: 26px;
    margin-bottom: 8px;
  }
  .newsletter-item p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .newsletter-item .newsletter-form .form-group .form-control {
    height: 60px;
    padding-left: 20px;
    font-size: 16px;
  }
  .newsletter-item .newsletter-form .form-group .newsletter-btn {
    padding: 11px 30px;
    font-size: 15px;
  }
  
  .main {
    max-width: 100%;
    padding-bottom: 80px;
  }
}
